*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.App{
    width: 200px;
    margin-bottom: 50px;
}
*{
    text-align: center;
}
button{
    width: 50px;
}